<h4>Add Office Hours</h4>
<%= form_for @office_hour do |f| %>
  <p>
    <%= f.text_field :day, placeholder: 'day in a week' %>
  </p>
  <p>
    <%= f.text_field :time, placeholder: 'time interval' %>
  </p>
  <!-- the following hidden field cannot be discarded -->

  <p>
    <%= f.hidden_field :course_id, value: @course.id %>
    <%= f.submit %>
  </p>
<% end %>
