<h4><%= current_user.username %></h4>

<h4>My courses</h4>
<% current_user.courses.each do |c| %>
  <p><%= link_to c.name, course_path(c) %> | <%= link_to 'Edit', edit_course_path(c) %> | <%= link_to 'Delete', course_path(c), method: :delete %></p>
<% end %>

<p><%= link_to 'Add a class', new_course_path(@course) %></p>

<h4>My tasks</h4>
<% current_user.tasks.each do |t| %>
  <div>
    <p><%= t.course.name %> | <%= t.description %> | <%= t.duedate %></p>
    <% if t.complete %>
      <p>Completed</p>
    <% else %>
      <p>Not Completed</p>
    <% end %>
    <%= link_to 'Delete', task_path(t), method: :delete %>
    <p>-------------------------</p>
  </div>
<% end %>
