<h2><%= @course.name %></h2>
<p>Office Hours: </p>
<%= @course.oh_location %>
<% @course.office_hours.each do |oh| %>
  <p><%= oh.day %> <%= oh.time %></p>

  <% if current_user == @course.user %>
  <p><%= link_to 'delete', office_hour_path(oh), method: :delete %></p>
  <% end %>
<% end %>

<% if current_user == @course.user %>
<%= render 'office_hours/new' %>
<% end %>

<p>Tasks</p>
