<div class="title">
  <h2><%= @course.name %></h2>
</div>

<p>Office Hours: </p>
<%= @course.oh_location %>
<% @course.office_hours.each do |oh| %>
  <p><%= oh.day %> <%= oh.time %></p>

  <% if current_user == @course.user %>
  <p><%= link_to 'delete', office_hour_path(oh), method: :delete, data: {confirm: 'Are you sure?'} %></p>
  <% end %>
<% end %>

<div>
  <% if current_user == @course.user %>
  <%= render 'office_hours/new' %>
  <% end %>
</div>

<div>
  <h4><%= link_to 'Add a Task', new_course_task_path(@course) %></h4>
</div>

<div>
  <h4>Tasks</h4>
  <% @my_tasks.each do |t| %>
    <p><%= t.description %> | <%= t.duedate %> |<%= t.complete ? 'Completed' : 'Not completed' %></p>

    <% if t.complete %>
      <%= link_to 'Mark Inomplete', incomplete_task_path(t), method: :put %> |
    <% else %>
      <%= link_to 'Mark Complete', complete_task_path(t), method: :put %> |
    <% end %>
  <% end %>
</div>
